:root {
  // Light mode
  --bg-dark: #212529;
  --bg-dark-subtle: #1A1D20;
  --border-dark-subtle: #343A40;
  --dark-text: #DEE2E6;
  // Dark mode
  --bg-light: #F8F9FA;
  --bg-light-subtle: #343A40;
  --border-light-subtle: #495057;
  --light-text: #F8F9FA;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
}

.container {
  max-width: 1400px;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: var(--dark-text);
}

.hr-divider {
  height: 1px;
  width: 100%;
  margin: 50px auto;
  color: #ffffff;
  background-color: gray;
  opacity: 1;
}

.text-muted {
  color: #59359a !important;
}

.bg-gradient-135 {
  background: linear-gradient(135deg,
    rgba(44,26,77,1) 0%,
    rgba(67,40,116,1) 25%,
    rgba(89,53,154,1) 50%,
    rgba(111,66,193,1) 75%,
    rgba(102,16,242,1) 100%);
}

.bg-gradient-225 {
  background: linear-gradient(225deg,
    rgba(44,26,77,1) 0%,
    rgba(67,40,116,1) 25%,
    rgba(89,53,154,1) 50%,
    rgba(111,66,193,1) 75%,
    rgba(102,16,242,1) 100%);
}

.bg-gradient-radial {
  background: radial-gradient(circle,
    rgba(102,16,242,1) 0%,
    rgba(111,66,193,1) 25%,
    rgba(89,53,154,1) 50%,
    rgba(67,40,116,1) 75%,
    rgba(44,26,77,1) 100%);
}

.square {
  width: 80%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: linear-gradient(225deg,
    rgba(44,26,77,1) 0%,
    rgba(67,40,116,1) 25%,
    rgba(89,53,154,1) 50%,
    rgba(111,66,193,1) 75%,
    rgba(102,16,242,1) 100%);
  margin: 0 5px;
}

.btn-outline-light {
  --bs-btn-hover-bg: #59359a;
}

.btn-outline-light:hover {
  color: #ffffff !important;
}

.footer-items a:hover {
  color: #59359a !important;
}

.active:hover {
  transform: scale(1.1);
  transition: 0.3s;
}